# Sequel Analysis
File containing the analysis of different sequels of animation (only focusing on 1990-2000's movies).

In [64]:
#Import libraries that we am going to use.
import numpy as np
import pandas as pd
import re

In [65]:
#Read the file.
movie = pd.read_csv('../Database/Clean/movie_clean_v1.csv', sep = ';', index_col = 0)

In [66]:
#Explore dataset
movie.head()

,budget,company,genre,gross,name,score,votes,year,Animation_1,Animation_2,Animation_3,Animation_4
0,8000000,Columbia Pictures Corporation,Adventure,52287414,Stand by Me,"8,1",299174,1986,NaN,NaN,NaN,NaN
1,6000000,Paramount Pictures,Comedy,70136369,Ferris Bueller's Day Off,"7,8",264740,1986,NaN,NaN,NaN,NaN
2,15000000,Paramount Pictures,Action,179800601,Top Gun,"6,9",236909,1986,NaN,NaN,NaN,NaN
3,18500000,Twentieth Century Fox Film Corporation,Action,85160248,Aliens,"8,4",540152,1986,NaN,NaN,NaN,NaN
4,9000000,Walt Disney Pictures,Adventure,18564613,Flight of the Navigator,"6,9",36636,1986,NaN,NaN,NaN,NaN

In order to focus on movies from 1990 on, we filtered the dataset for genre Animation and movies from 1990 on.

In [67]:
movie_90 = movie.query('year >= 1990')

In [68]:
movie_an90 = movie_90.query('genre == "Animation"').copy()

We create a new column (Franchise) with null values.

In [69]:
movie_an90['Franchise']=np.nan

First we will need to check which are the main movies, by main, we refer to those which had a sequel. By the structure of the database we know that main movies will be the ones that have an **'x'** in column **Animation_1**.

In [70]:
movies_series = movie_an90[movie_an90['Animation_1'].isnull() == False].copy()

In [71]:
movies_series['Franchise'] = movies_series['name']

We update the column Franchise to the main dataframe.

In [72]:
movie_an90.update(movies_series)

We create a list of the names of the movies to run regex in the main dataframe.

In [73]:
movie_lst = list(movies_series['name'])
movie_lst

['Toy Story',
 'Shrek',
 'Madagascar',
 'Cars',
 'Happy Feet',
 'Ice Age: The Meltdown',
 'Alvin and the Chipmunks',
 'Kung Fu Panda',
 'Cloudy with a Chance of Meatballs',
 'Despicable Me',
 'How to Train Your Dragon',
 'Rio',
 'The Smurfs',
 'Hotel Transylvania']

In [74]:
#We've decided to change Ice Age: The meltdown to Ice Age in order for Regex to work in a smoothly way afterwards.
movie_lst[5] = 'Ice Age'
movie_lst

['Toy Story',
 'Shrek',
 'Madagascar',
 'Cars',
 'Happy Feet',
 'Ice Age',
 'Alvin and the Chipmunks',
 'Kung Fu Panda',
 'Cloudy with a Chance of Meatballs',
 'Despicable Me',
 'How to Train Your Dragon',
 'Rio',
 'The Smurfs',
 'Hotel Transylvania']

We create a lambda using regex to match with the title of the movie, if an element in movie_lst matches
the name of a movie, write the name in the movie in column 'Franchise'.

In [75]:
func = lambda row: movie if bool(re.match(rf"({movie}.*)", row['name'], re.IGNORECASE)) else row['Franchise']

We apply the lambda function in the column 'Franchise'.

In [76]:
for movie in movie_lst:
    movie_an90['Franchise'] = movie_an90.apply(func, axis = 1)

Finally we are creating a new dataframe, which only consists of those rows with no null values on 'Franchise' column, with which we will finally save as a csv file.

In [77]:
movie_sequels = movie_an90[movie_an90['Franchise'].isnull()==False]

In [78]:
movie_sequels.to_csv('../Database/Clean/movie_clean_v2.csv') #Saving as a .csv

In [101]:
movie_an90[movie_an90['name']=='Toy Story']

,budget,company,genre,gross,name,score,votes,year,Animation_1,Animation_2,Animation_3,Animation_4,Franchise
1988,30000000.0,Pixar Animation Studios,Animation,191796233.0,Toy Story,"8,3",694113.0,1995.0,x,NaN,NaN,NaN,Toy Story

# Subgenres: Princess Analysis
### We will focus only in Disney movies

In [129]:
sub_genre = movie_an90.query('company == "Walt Disney Pictures" | company == "Walt Disney Animation Studios"| company == "Pixar Animation Studios"').copy()

In [130]:
sub_genre

,budget,company,genre,gross,name,score,votes,year,Animation_1,Animation_2,Animation_3,Animation_4,Franchise,Disney_princess
4,25000000.0,Walt Disney Pictures,Animation,218967620.0,Beauty and the Beast,8,344844.0,1991.0,NaN,NaN,NaN,NaN,NaN,Princess
9,28000000.0,Walt Disney Pictures,Animation,217350219.0,Aladdin,8,287068.0,1992.0,NaN,NaN,NaN,NaN,NaN,Princess
20,45000000.0,Walt Disney Pictures,Animation,312900000.0,The Lion King,"8,5",723070.0,1994.0,NaN,NaN,NaN,NaN,NaN,NaN
25,55000000.0,Walt Disney Pictures,Animation,141600000.0,Pocahontas,"6,7",133708.0,1995.0,NaN,NaN,NaN,NaN,NaN,Princess
26,30000000.0,Pixar Animation Studios,Animation,191796233.0,Toy Story,"8,3",694113.0,1995.0,x,NaN,NaN,NaN,Toy Story,NaN
28,0.0,Walt Disney Pictures,Animation,35348597.0,A Goofy Movie,"6,8",36877.0,1995.0,NaN,NaN,NaN,NaN,NaN,NaN
33,38000000.0,Walt Disney Pictures,Animation,28934758.0,James and the Giant Peach,"6,7",52633.0,1996.0,NaN,NaN,NaN,NaN,NaN,NaN
36,85000000.0,Walt Disney Pictures,Animation,99046791.0,Hercules,"7,2",159637.0,1997.0,NaN,NaN,NaN,NaN,NaN,Princess
42,120000000.0,Pixar Animation Studios,Animation,162798565.0,A Bug's Life,"7,2",226736.0,1998.0,NaN,NaN,NaN,NaN,NaN,NaN
49,90000000.0,Pixar Animation Studios,Animation,245852179.0,Toy Story 2,"7,9",420432.0,1999.0,NaN,x,NaN,NaN,Toy Story,NaN
50,130000000.0,Walt Disney Pictures,Animation,171091819.0,Tarzan,"7,2",160561.0,1999.0,NaN,NaN,NaN,NaN,NaN,NaN
53,80000000.0,Walt Disney Pictures,Animation,60655420.0,Fantasia 2000,"7,2",29666.0,1999.0,NaN,NaN,NaN,NaN,NaN,NaN
59,127500000.0,Walt Disney Pictures,Animation,137748063.0,Dinosaur,"6,5",42134.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
70,115000000.0,Pixar Animation Studios,Animation,289916256.0,"Monsters, Inc.","8,1",652440.0,2001.0,NaN,NaN,NaN,NaN,NaN,NaN
83,80000000.0,Walt Disney Pictures,Animation,145794338.0,Lilo & Stitch,"7,2",131270.0,2002.0,NaN,NaN,NaN,NaN,NaN,NaN
92,94000000.0,Pixar Animation Studios,Animation,380843261.0,Finding Nemo,"8,1",772029.0,2003.0,NaN,NaN,NaN,NaN,NaN,NaN
101,92000000.0,Pixar Animation Studios,Animation,261441092.0,The Incredibles,8,520926.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN
110,110000000.0,Walt Disney Pictures,Animation,50030461.0,Home on the Range,"5,4",15266.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN
116,150000000.0,Walt Disney Pictures,Animation,135386665.0,Chicken Little,"5,8",70253.0,2005.0,NaN,NaN,NaN,NaN,NaN,NaN
120,120000000.0,Pixar Animation Studios,Animation,244082982.0,Cars,"7,1",292006.0,2006.0,x,NaN,NaN,NaN,Cars,NaN
137,150000000.0,Pixar Animation Studios,Animation,206445654.0,Ratatouille,8,516560.0,2007.0,NaN,NaN,NaN,NaN,NaN,NaN
138,85000000.0,Walt Disney Pictures,Animation,127807262.0,Enchanted,"7,1",153161.0,2007.0,NaN,NaN,NaN,NaN,NaN,NaN
143,150000000.0,Walt Disney Animation Studios,Animation,97822171.0,Meet the Robinsons,"6,9",72807.0,2007.0,NaN,NaN,NaN,NaN,NaN,NaN
150,150000000.0,Walt Disney Animation Studios,Animation,114053579.0,Bolt,"6,9",158580.0,2008.0,NaN,NaN,NaN,NaN,NaN,NaN
160,175000000.0,Pixar Animation Studios,Animation,293004164.0,Up,"8,3",743601.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN
161,105000000.0,Walt Disney Animation Studios,Animation,104400899.0,The Princess and the Frog,"7,1",97887.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN
167,200000000.0,Walt Disney Pictures,Animation,137855863.0,A Christmas Carol,"6,8",80819.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN
176,260000000.0,Walt Disney Animation Studios,Animation,200821936.0,Tangled,"7,8",325621.0,2010.0,NaN,NaN,NaN,NaN,NaN,Princess
177,200000000.0,Walt Disney Pictures,Animation,415004880.0,Toy Story 3,"8,3",603472.0,2010.0,NaN,NaN,x,NaN,Toy Story,NaN
186,200000000.0,Walt Disney Pictures,Animation,191452396.0,Cars 2,"6,2",116477.0,2011.0,NaN,x,NaN,NaN,Cars,NaN
194,30000000.0,Walt Disney Pictures,Animation,26692846.0,Winnie the Pooh,"7,2",16941.0,2011.0,NaN,NaN,NaN,NaN,NaN,NaN
198,165000000.0,Walt Disney Animation Studios,Animation,189422889.0,Wreck-It Ralph,"7,7",298207.0,2012.0,NaN,NaN,NaN,NaN,NaN,NaN
199,185000000.0,Walt Disney Pictures,Animation,237283207.0,Brave,"7,2",302017.0,2012.0,NaN,NaN,NaN,NaN,NaN,Princess
206,39000000.0,Walt Disney Pictures,Animation,35291068.0,Frankenweenie,7,81006.0,2012.0,NaN,NaN,NaN,NaN,NaN,NaN
208,150000000.0,Walt Disney Animation Studios,Animation,400738009.0,Frozen,"7,5",464149.0,2013.0,NaN,NaN,NaN,NaN,NaN,Princess
211,200000000.0,Walt Disney Pictures,Animation,268492764.0,Monsters University,"7,3",258992.0,2013.0,NaN,NaN,NaN,NaN,NaN,NaN
232,175000000.0,Pixar Animation Studios,Animation,356461711.0,Inside Out,"8,2",439792.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN
235,200000000.0,Pixar Animation Studios,Animation,123087120.0,The Good Dinosaur,"6,7",80711.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN
245,150000000.0,Walt Disney Animation Studios,Animation,248757044.0,Moana,"7,6",157290.0,2016.0,NaN,NaN,NaN,NaN,NaN,Princess
248,150000000.0,Walt Disney Pictures,Animation,341268248.0,Zootopia,8,317549.0,2016.0,NaN,NaN,NaN,NaN,NaN,NaN
252,200000000.0,Pixar Animation Studios,Animation,486295561.0,Finding Dory,"7,4",173005.0,2016.0,NaN,NaN,NaN,NaN,NaN,NaN

We are creating a new column to see correspond to subgenre Princess.

In [103]:
sub_genre['Disney_princess'] = np.nan

In [131]:
sub_genre = sub_genre.query('name == "Beauty and the Beast" | name == "Aladdin" | name == "Pocahontas" | name == "Hercules" | name == "The Princess and the Frog" | name == "Tangled" | name == "Brave" | name == "Frozen" | name == "Moana"')

In [132]:
sub_genre['Disney_princess'] = 'Princess'

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

We are now merging our dataframe with the original.

In [133]:
movie_an90 = movie_an90.merge(sub_genre, how = 'outer')

In [134]:
movie_an90.to_csv('../Database/Clean/movies_90_all_and_princess.csv')